<!DOCTYTPE html>
<html>
  <head>
    <title>AngularJS - Note App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="noteApp" ng-controller="noteController">
    <h2>My Note</h2>
    <textarea ng-model="note" ng-maxlength="100" ng-disabled="isNoteSaved" cols="40" rows="10"></textarea>
    <p>
      <button ng-click="save()">Save</button>
      <button ng-click="clear()">Clear</button>
    </p>

    <!-- Hide this when the note is saved -->
    <p ng-hide="isNoteSaved">Number of characters left: <span ng-bind="left()"></span></p>
    <!-- Show this when the note is saved -->
    <p ng-show="isNoteSaved">Note Saved!</p>
    
  </body>
</html>
